@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --color-ink: #0A0D1B;
  --color-navy: #23277C;
  --color-maroon: #6E1230;
  --color-fire: #D2231F;
  --color-ember: #8C1420;
  --color-paper: #FBFAF8;
  --color-steel: #9AA0AE;
  --font-display: "Barlow Condensed","Oswald" , sans-serif;
  --font-body: "Inter", "Public Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}



.h1{
  font-family: var(--font-display);
  font-weight: bold;  
  letter-spacing: -4px;
  
}
